DEPLOY_ENV=prod
CLIENT_HOSTNAME=client.example.com
DASHBOARD_HOSTNAME=dashboard.example.com
API_HOSTNAME=api.example.com
CERTBOT_DOMAINS=client.example.com,dashboard.example.com,api.example.com
CERTBOT_EMAIL=admin@example.com
